* {
  margin: 0;
}

body {
  background: rgb(218,175,231);
  background: linear-gradient(159deg, rgba(218,175,231,1) 42%, rgba(14,202,242,1) 100%);
  background-attachment: fixed;
  font-family: 'Pixelify Sans';
  color: rgb(115, 68, 129);
  font-size: 1.8em;
}

.home-main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* HOME - index.html */

.home-img {
  max-width: 600px;
}

.home-content {
  padding: 30px 0;
}

.home-actions a {
  font-size: .5em;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #eee;
  padding: 2px 10px;
  border-radius: 10px 0;
  transition: border-radius 0.5s ease 0s;
}

.home-actions a:hover {
  background-color: rgba(67, 12, 83, .1);
  transition: background-color 1.5s ease 0s;
  border-radius: 0 10px;
  transition: border-radius 0.5s ease 0s;
}

/* Lorem Component - assets/scripts/lorem.js */

.lorem-container {
  margin: 100px 400px;
  text-align: justify;
}

.lorem-container p {
  padding: 30px 0;
  font-size: .6em;
}

/* MEDIA QUERIES */

@media (max-width : 480px) {
    .main {
      justify-content: flex-start;
      margin-top: 50px;
    }

    /* HOME - index.html */

    .home-img {
      width: 300px;
    }

    .home-content {
      font-size: .6em;
    }

    /* Lorem Component - assets/scripts/lorem.js */

    .lorem-container {
      margin: 30px;
    }
    
    .lorem-container p {
      padding: 5px 0;
      font-size: .4em;
    }
}